<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Master Suite">

   <groups>
     <run>
     <include name="Master"></include>
     <include name="Sanity"></include>
     <include name="Regression"></include> 
     </run>
    </groups>
    
    <listeners>
    <listener class-name="utilities.ExtentReportManager"></listener>
    </listeners>

  <test thread-count="5" name="Test">
  
  <parameter name="os" value="windows"></parameter>
 <parameter name="browser" value="chrome"></parameter>
 
 
  
  
  <classes>
   
 <!--   <class name="testCases.TC0001_AccountRegistrationTest"/> 
      <class name="testCases.TC0002_AccountLogin"></class> 
      <class name="testCases.TC0003_LoginWithExcelDataTest"></class> 
      <class name="testCases.TC0004_AddToCartTest"></class> 
      <class name="testCases.TC0005_AddMultipleProductsToCartTest"></class> 
      <class name="testCases.TC0006_RequiredFieldValidation"></class> 
      <class name="testCases.TC0007_PasswordValidation"></class> 
      <class name="testCases.TC0008_EmailValidations"></class>
      <class name="testCases.TC0009_ForgotPassword"></class> 
      <class name="testCases.TC0010_SearchFunctionality"></class>
      <class name="testCases.TC0011_MobileViewTestcase"></class>
      <class name="testCases.TC0012_AddProducttoWishlist"></class>
      <class name="testCases.TC0013_CheckCartCount"></class>
      <class name="testCases.TC0014_LoginWithWrongCredentials"></class>
      <class name="testCases.TC0015_CheckProductCompare"></class> 
      <class name="testCases.TC0016_SubscribeToNewsletter"></class>
      <class name="testCases.RegisterFunctionality.TC004_MandatoryFieldsNotifications"></class>  
      <class name="testCases.RegisterFunctionality.TC005_YesOptionForNewsLetterField"></class>  -->
      <class name="testCases.TC0018_ToolTipValidationMessageForEmail"></class>
       
    </classes>
  
  </test> <!-- Test -->


</suite> <!-- Suite -->
